.crud {
    padding: 10px;
    max-width: 1200px;
    margin: auto;

    @media(min-width: 768px) {
        padding: 50px;
    }

    overflow-x: auto;
    width: 100%;
}

table {
    width: 100%;
}

.mat-icon-button {
    margin: 5px;

    @media(min-width: 768px) {
        margin: 10px;
    }
}

.icon-container {
    display: flex;
    justify-content: center; 
}

.mat-icon-button {
    margin: 5px;

    @media(min-width: 768px) {
        margin: 10px 20px; 
    }
}

.action-header {
    text-align: center;
}
