table {
    width: 100%;
}

.crud {
    padding: 10px;

    @media(min-width: 768px) {
        padding: 50px;
    }
}

.mat-icon-button {
    margin: 5px;

    @media(min-width: 768px) {
        margin: 10px;
    }
}

.icon-container {
    display: flex;
    justify-content: center; 
}

.mat-icon-button {
    margin: 5px;

    @media(min-width: 768px) {
        margin: 10px 20px; 
    }
}
