<app-banner></app-banner>

<div class="buscar">
    <app-buscar (termoPesquisa)="pesquisarCards($event)" (ordenarPor)="ordenarCards($event)"
        (tipoItemSelecionado)="filtrarPorTipoItem($event)">
    </app-buscar>
</div>

<div class="card">
    <app-card *ngFor="let card of cardsMostrados" [card]="card"></app-card>
</div>

<div class="paginacao">
    <app-paginacao [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="cards.length"
        (pageChange)="mudancaPagina($event)">
    </app-paginacao>
</div>