<app-banner></app-banner>

<div class="buscar">
    <app-buscar (filtros)="filtros($event)"> </app-buscar>
</div>

<div class="pesquisaLisa">  
<app-pesquisa-lisa></app-pesquisa-lisa>  
</div> 

<div *ngIf="cardsMostrados.length === 0" class="no-results">
    Nenhum resultado encontrado.
</div>

<div class="card">
    <app-card *ngFor="let card of cardsMostrados" [card]="card"> </app-card>
</div>

<div *ngIf="cardsMostrados.length > 0" class="paginacao">
    <app-paginacao [pageIndex]="pageIndex" [pageSize]="pageSize" [length]="cardsFiltrados.length"
        (pageChange)="mudancaPagina($event)">
    </app-paginacao>
</div>



