.card {
    max-width: 500px;
}

.center-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.full-width {
    margin-top: 10px;
    width: 100%;
}

.mat-button {
    margin-top: 10px;
    width: 100%;
    color: white;
    height: 40px;
    background-color: #3F51B5;
}