<div class="center-content">
    <mat-card class="card">
        <mat-card-content>
            <mat-tab-group>
                <mat-tab label="Entrar">
                    <mat-form-field class="full-width">
                        <mat-label>E-mail</mat-label>
                        <input type="email" matInput placeholder="E-mail" value="" [(ngModel)]="email">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Senha</mat-label>
                        <input type="password" matInput placeholder="Senha" [(ngModel)]="password">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <button mat-button color="primary" (click)="login()">Entrar</button>
                </mat-tab>

                <mat-tab label="Criar conta">
                    <mat-form-field class="full-width">
                        <mat-label>E-mail</mat-label>
                        <input type="email" matInput placeholder="E-mail" value="" [(ngModel)]="remail">
                        <mat-icon matSuffix>email</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Senha</mat-label>
                        <input type="password" matInput placeholder="Senha" [(ngModel)]="rpassword">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>

                    <mat-form-field class="full-width">
                        <mat-label>Confirme a senha</mat-label>
                        <input type="password" matInput placeholder="Senha" [(ngModel)]="rcpassword">
                        <mat-icon matSuffix>vpn_key</mat-icon>
                    </mat-form-field>
                    <button mat-button color="primary" (click)="registro()">Criar conta</button>
                </mat-tab>
            </mat-tab-group>
        </mat-card-content>
    </mat-card>
</div>