<form [formGroup]="formulario">
    <div class="search">

        <mat-form-field appearance="outline">
            <mat-label>Pesquisar geral no Lisa</mat-label>
            <input matInput formControlName="pesquisarNoLisa" placeholder="Ex: Account 2023">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div *ngIf="dadosPesquisaLisa">
            <h3 (click)="toggle('software')">Software</h3>
            <div *ngIf="expandedSections['software']">
                <p>ID: {{ dadosPesquisaLisa.software.id }}</p>
                <p>Nome: {{ dadosPesquisaLisa.software.nome }}</p>
            </div>

            <div *ngIf="expandedSections['fluxoSoftwares']">
                <div *ngFor="let fluxoSoftware of dadosPesquisaLisa.fluxoSoftwares">
                    <p>ID: {{ fluxoSoftware.id }}</p>
                    <p>Nome: {{ fluxoSoftware.nome }}</p>
                </div>
            </div>
        </div>

        <div class="limpar-filtro">
            <button mat-raised-button color="primary" (click)="limparInput()">Limpar
                filtros</button>
        </div>

    </div>
</form>