<form [formGroup]="formulario">
    <div class="search">

        <mat-form-field appearance="outline">
            <mat-label>Pesquisa geral no Lisa</mat-label>
            <input matInput formControlName="pesquisarNoLisa" placeholder="Ex: Account 2023">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <div *ngFor="let software of dadosPesquisaLisa">
            <div>
                <h3>Nome: {{software.nome}}</h3>
                <h5>Id: {{software.id}}</h5>
            </div>

            <div>
                <p>Solicitações: {{software.solicitacoes}}</p>
            </div>

            <div>
                <p>Propostas: {{software.propostas}}</p>
            </div>

            <div>
                <p>Notas Fiscais: {{software.notasFiscais}}</p>
            </div>

            <div>
                <p>Contratos: {{software.contratos}}</p>
            </div>
        </div>

        <div class="limpar-filtro">
            <button mat-raised-button color="primary" (click)="limparInput()">Limpar
                filtro</button>
        </div>
    </div>
</form>