<div class="card-container">
        <mat-card class="card-container__card">
            <mat-card-header>  
                <mat-card-title>{{card?.weapon}}</mat-card-title>  
                <mat-card-subtitle>{{card?.pattern}}</mat-card-subtitle> 
            </mat-card-header>
            <img mat-card-image src="{{card?.image}}" alt="Skin">
            <mat-card-content>
                <mat-card-subtitle>Stattrak: {{card?.stattrak}}</mat-card-subtitle> 
                <mat-card-subtitle>Raridade: {{card?.rarity}}</mat-card-subtitle> 
            </mat-card-content>  
        </mat-card>
</div>
