<div class="block-cards">
    <div class="block-cards__element-card">
        <h3 class="block-cards__element-card--title">Faca de Cordame Degradê</h3>
        <img class="block-cards__element-card--image" src="./assets/img/teste/faca1.png" alt="...">
        <p class="block-cards__element-card--description">Padrão: Degradê</p>
        <p class="block-cards__element-card--description">Raridade: Oculto</p>
    </div>

    <div class="block-cards__element-card">
        <h3 class="block-cards__element-card--title">Faca de Cordame Degradê</h3>
        <img class="block-cards__element-card--image" src="./assets/img/teste/faca1.png" alt="...">
        <p class="block-cards__element-card--description">Padrão: Degradê</p>
        <p class="block-cards__element-card--description">Raridade: Oculto</p>
    </div>

    <div class="block-cards__element-card">
        <h3 class="block-cards__element-card--title">Faca de Cordame Degradê</h3>
        <img class="block-cards__element-card--image" src="./assets/img/teste/faca1.png" alt="...">
        <p class="block-cards__element-card--description">Padrão: Degradê</p>
        <p class="block-cards__element-card--description">Raridade: Oculto</p>
    </div>

    <div class="block-cards__element-card">
        <h3 class="block-cards__element-card--title">Faca de Cordame Degradê</h3>
        <img class="block-cards__element-card--image" src="./assets/img/teste/faca1.png" alt="...">
        <p class="block-cards__element-card--description">Padrão: Degradê</p>
        <p class="block-cards__element-card--description">Raridade: Oculto</p>
    </div>  
</div>