<ng-container *ngIf="carregandoSkeleton; else cardTemplate">
    <div class="skeleton">
        <div class="skeleton__title"></div>
        <div class="skeleton__subtitle"></div>
        <div class="skeleton__image"></div>
        <div class="skeleton__content-title"></div>
        <div class="skeleton__content-subtitle"></div>
    </div>
</ng-container>

<ng-template #cardTemplate>
    <mat-card *ngIf="card" class="card" (click)="openDialog()">
        <mat-card-header>
            <mat-card-title>{{card.weapon}}</mat-card-title>
            <mat-card-subtitle>{{card.pattern}}</mat-card-subtitle>
        </mat-card-header>

        <img mat-card-image src="{{card.image}}" alt='skin-{{card.weapon}}'>

        <mat-card-content>
            <mat-card-subtitle>Stattrak: {{card.stattrak ? 'Sim' : 'Não'}}</mat-card-subtitle>
            <mat-card-subtitle>Raridade: {{card.rarity}}</mat-card-subtitle>
        </mat-card-content>
    </mat-card>
</ng-template>