<div class="cards-container">
    <div class="card">
        <h3 class="card__title">Faca de Cordame Degradê</h3>
        <img class="card__image" src="./assets/img/teste/faca1.png" alt="...">
        <p class="card__description">Padrão: Degradê</p>
        <p class="card__description">Raridade: Oculto</p>
    </div>

    <div class="card">
        <h3 class="card__title">Faca de Cordame Degradê</h3>
        <img class="card__image" src="./assets/img/teste/faca1.png" alt="...">
        <p class="card__description">Padrão: Degradê</p>
        <p class="card__description">Raridade: Oculto</p>
    </div>

    <div class="card">
        <h3 class="card__title">Faca de Cordame Degradê</h3>
        <img class="card__image" src="./assets/img/teste/faca1.png" alt="...">
        <p class="card__description">Padrão: Degradê</p>
        <p class="card__description">Raridade: Oculto</p>
    </div>

    <div class="card">
        <h3 class="card__title">Faca de Cordame Degradê</h3>
        <img class="card__image" src="./assets/img/teste/faca1.png" alt="...">
        <p class="card__description">Padrão: Degradê</p>
        <p class="card__description">Raridade: Oculto</p>
    </div>

</div>