/* For use in src/lib/core/theming/_palette.scss */
$primary-palette: (
  50 : #e6e7ef,
  100 : #bfc2d8,
  200 : #959abe,
  300 : #6b71a3,
  400 : #4b5290,
  500 : #2b347c,
  600 : #262f74,
  700 : #202769,
  800 : #1a215f,
  900 : #10154c,
  A100 : #858cff,
  A200 : #525cff,
  A400 : #1f2cff,
  A700 : #0614ff,
  contrast: (50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #ffffff,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);