.logo {
    display: flex;
    align-items: center;
    justify-content: center;

    &__link {
        display: flex;
        align-items: center;
        justify-content: center;

        &__imagem {
            height: 40px;
        }
    }   

    &__titulo {
        margin-left: 10px;
    }
}