.toolbar {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    background-color: #333;
    padding: 20px;
    height: 90px;

    &__logo {
        display: flex;
        align-items: center; 
    }

    &__menu {
        display: none; 
        align-items: center;
        color: #FFFFFF;
    
        @media (max-width: 768px) {
            display: flex;
        }
    }
}
