<div class="search">
    <mat-form-field appearance="outline">
    <mat-label>Todos os itens</mat-label>
    <mat-select>    
    <mat-option value="option">Faca</mat-option>        
    <mat-option value="option">Luva</mat-option>      
    <mat-option value="option">Metralhadora</mat-option>      
    <mat-option value="option">Pistola</mat-option>      
    <mat-option value="option">Rifle</mat-option>      
    <mat-option value="option">Rifle de Precisão</mat-option>            
    </mat-select>       
    </mat-form-field>  

    <mat-form-field appearance="outline">
    <mat-label>Pesquisar</mat-label>
    <input matInput placeholder="Ex: Faca">
    <mat-icon matSuffix>search</mat-icon> 
    </mat-form-field>   

    <mat-form-field appearance="outline">
    <mat-label>Ordenar por</mat-label>
    <mat-select>
    <mat-option value="option">Padrão</mat-option>
    <mat-option value="option">Crescente</mat-option>
    <mat-option value="option">Decrescente</mat-option>
    <mat-option value="option">Novos</mat-option>
    <mat-option value="option">Antigos</mat-option>
    </mat-select>       
    </mat-form-field>    
</div> 













