<div class="search">
    <mat-form-field appearance="outline">
        <mat-label>Todos os itens</mat-label>
        <mat-select>
            <mat-option value="option">Todos</mat-option>
            <mat-option value="option">Faca</mat-option>
            <mat-option value="option">Luva</mat-option>
            <mat-option value="option">Metralhadora</mat-option>
            <mat-option value="option">Pistola</mat-option>
            <mat-option value="option">Rifle</mat-option>
            <mat-option value="option">Rifle de Precisão</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Pesquisar</mat-label>
        <input matInput placeholder="Ex: Faca" (input)="pesquisa($event)"> <!-- (blur)="limparInput($event)" -->
        <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Ordenar por</mat-label>
        <mat-select (selectionChange)="ordenar($event)">
            <mat-option value="padrao">Padrão</mat-option>
            <mat-option value="crescente">Crescente</mat-option>
            <mat-option value="decrescente">Decrescente</mat-option>
            <mat-option value="novos">Novos</mat-option>
            <mat-option value="antigos">Antigos</mat-option>
        </mat-select>
    </mat-form-field>
</div>