::ng-deep {
    .mat-mdc-dialog-container {
        width: 90vw !important;
        max-width: 900px !important;
        overflow-x: hidden !important;
        padding: 10px !important;

        @media (max-width: 600px) {
            width: 100vw !important;
            max-width: none !important;
        }
    }

    .mdc-dialog__content {
        display: flex !important;
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
    }
}

.description-text {
    font-size: 1.6rem;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

@media screen and (max-width: 750px) {
    mat-dialog-content {
        height: 100%;
        width: 100%;
        align-self: center;
        overflow: hidden !important;

        img {
            width: 80%;
        }
    }
}