::ng-deep {
    .mat-mdc-dialog-container {
        width: 100vh !important;
        max-width: 900px !important;
        overflow-y: hidden;
    }
}

.description-text {
    display: block;
    max-height: 100px;
    overflow-y: auto;
    background-color: yellow;
}