<form [formGroup]="formulario">
    <div class="search">
        <mat-form-field appearance="outline">
            <mat-label>Todos os itens</mat-label>
            <mat-select formControlName="todosItens">
                <mat-option value="todos">Todos</mat-option>
                <mat-option value="faca">Faca</mat-option>
                <mat-option value="luva">Luva</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Pesquisar</mat-label>
            <input matInput formControlName="pesquisar" placeholder="Ex: Faca">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Pesquisar geral no Lisa</mat-label>
            <input matInput formControlName="pesquisarNoLisa" placeholder="Ex: Account 2023">
            <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Ordenar por</mat-label>
            <mat-select formControlName="ordenarPor">
                <mat-option value="padrao">Padrão</mat-option>
                <mat-option value="crescente">Crescente</mat-option>
                <mat-option value="decrescente">Decrescente</mat-option>
                <mat-option value="stattrak">Stattrak</mat-option>
            </mat-select>
        </mat-form-field>

        <div class="limpar-filtro">
            <button mat-raised-button color="primary" (click)="limparInput()">Limpar
                filtros</button>
        </div>

        <div *ngIf="dadosPesquisaLisa">
            <h3 (click)="toggle('software')">Software</h3>
            <div *ngIf="expandedSections['software']">
                <p>{{ dadosPesquisaLisa.software.Id }}</p>
                <p>{{ dadosPesquisaLisa.software.nome }}</p>
            </div>

            <h3 (click)="toggle('fluxoSoftwares')">Fluxo de Softwares</h3>
            <div *ngIf="expandedSections['fluxoSoftwares']">
                <p>{{ dadosPesquisaLisa.fluxoSoftwares.Id }}</p>
                <p>{{ dadosPesquisaLisa.fluxoSoftwares.nome }}</p>
            </div>
        </div>
    </div>
</form>