.block-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-logo-container__element-link {
    display: flex;
    align-items: center;
    justify-content: center;
}

.block-logo-container__element-logo {
    height: 50px;
}

.block-logo-container__element-title {
    margin-left: 10px;
}