.logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container__link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-container__logo {
    height: 50px;
}

.logo-container__title {
    margin-left: 10px;
}