.block-logo-container {
    display: flex;
    align-items: center;
    justify-content: center;

    &__element-link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__element-logo {
        height: 50px;
    }

    &__element-title {
        margin-left: 10px;
    }
}