// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();
@import './app/scss/_colors';
// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$cs-go-angular-primary: mat.define-palette($primary-color-palette);
$cs-go-angular-accent: mat.define-palette($accent-color-palette);

// The warn palette is optional (defaults to red).
$cs-go-angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$cs-go-angular-theme: mat.define-light-theme((color: (primary: $cs-go-angular-primary,
                accent: $cs-go-angular-accent,
                warn: $cs-go-angular-warn,
            )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($cs-go-angular-theme);

/* You can add global styles to this file, and also import other style files */

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    height: 100%;
}

body {
    height: 100%;
    font-size: 1.6rem;
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    --white: #{$white};
}

app-root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

app-footer {
    margin-top: auto;
}