<nav class="navbar">
    <div class="logo-container">
        <a href="https://unique-truffle-b8da77.netlify.app/">
            <img src="./assets/img/logo/Logo_CsGo1.jpg" alt="CS:GO Skins Logo" class="logo" title="CS:GO Skins Logo">
        </a>
        <h1>CS:GO Skins</h1>
    </div>

    <div class="search-container">
        <form>
            <input type="text" class="search" placeholder="Pesquisar skin" title="Pesquisar skins e itens de CS:GO">
        </form>
    </div>
</nav>

<div class="banner">
    <img class="banner-image" src="./assets/img/banner/Banner_CsGo1.jpg" alt="CS:GO Skins Banner" title="CS:GO Skins Banner">
</div>